/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 

body{
  margin: 0;
  padding:0;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh; 
}

.section{
  background-color: whitesmoke;
  border: 1px solid blue;
  flex: 1;
}
.navbar {
display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
  }
 
  .nav-links a {
    color: #fff;
    text-decoration: none;
    }
    .menu {
      display: inline;
      font-size: 18px;
      padding: 10px;
      }
      
      .menu li:hover {
      background-color: #4c9e9e;   
      border-radius: 5px;
      transition: 0.3s ease;
      }
      
      
/* custom styling */
#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
}
.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 18px;
  background-color: rgb(178, 214, 214);
  border: 2px solid rgb(18, 21, 24);
  margin: 10px 0;
}
.form-item{
  text-align: center;
 
}
input {
  font-size: 15px;
  color: #333;
  border: 1px solid #bacdd8;
  font-size: 17px;
  width: 90%;
  margin-top:  5px;
  margin-bottom: 5px;
  height: 40px;
}

.item-text{
  font-size: 1.2rem;
  border: 2px solid #bacdd8;
  margin: 0;
  padding: 0;
}
.textArea{
  resize: none;
  width: 90%;
  height: 90px;
  font-size: 16px;
  border: 1px solid #bacdd8;
}
.bodyTextAreac{
  resize: none;
  font-size: 16px;
  width: 90%;
  height: 190px;
}
.gerid{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
@media screen and (max-width:1000px) {
  .gerid{
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto ;
    gap: 10px; 
    padding: 10px;
  }

}
@media screen and (max-width:700px) {
  .gerid{
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto  ;
    gap: 10px;
    padding: 10px;
  }

}
.tag {
  padding: 4px 8px;
  border: 1px solid #8eadc0;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #5b94d8;
}
.tag h3 {
  font-size: 20px;
}
.tag h2 {
  font-size: 25px;
}
/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

/* Style p element */
p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

/* Style button element */
button {
  display: flex;
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display:inline-block;
  margin-left: 30px;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

